<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= number_to_phone(@phone.number, :area_code => true) %>
</p>

<p>
  <b>Phone type:</b>
  <%= @phone.phone_types.key(@phone.phone_type) %>
</p>


<%= link_to 'Edit', edit_phone_path(@phone) %> |
<%= link_to 'Back', phones_path %>
