<h1>Listing emails_people</h1>

<table>
  <tr>
    <th>Person</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @emails_people.each do |emails_person| %>
  <tr>
    <td><%= emails_person.person_id %></td>
    <td><%= emails_person.email_id %></td>
    <td><%= link_to 'Show', emails_person %></td>
    <td><%= link_to 'Edit', edit_emails_person_path(emails_person) %></td>
    <td><%= link_to 'Destroy', emails_person, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Emails person', new_emails_person_path %>
