<%= form_for(@athletes_parent) do |f| %>
  <% if @athletes_parent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@athletes_parent.errors.count, "error") %> prohibited this athletes_parent from being saved:</h2>

      <ul>
      <% @athletes_parent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :athlete_id %><br />
    <%= f.text_field :athlete_id %>
  </div>
  <div class="field">
    <%= f.label :person_id %><br />
    <%= f.text_field :person_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
