<h1>Listing athletes_parents</h1>

<table>
  <tr>
    <th>Athlete</th>
    <th>Person</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @athletes_parents.each do |athletes_parent| %>
  <tr>
    <td><%= athletes_parent.athlete_id %></td>
    <td><%= athletes_parent.person_id %></td>
    <td><%= link_to 'Show', athletes_parent %></td>
    <td><%= link_to 'Edit', edit_athletes_parent_path(athletes_parent) %></td>
    <td><%= link_to 'Destroy', athletes_parent, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Athletes parent', new_athletes_parent_path %>
